# Env
.env

# Assets development
npm-debug.log
/node_modules

# OS
.DS_Store
Thumbs.db
.idea/
.tags

# Build
.next
.netlify
/out

# Packages
_ide_helpers.php
.vagrant/
/nbproject/
tests/_output/*
yarn-error.log

# WIP
.legacy/