.browser {
  height: 100%;

  & .dot {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin-right: 4px;
    width: 12px;

    &.red {
      background-color: #FF6159;
    }

    &.yellow {
      background-color: #FFBD2D;
    }

    &.green {
      background-color: #28C93F;
    }
  }

  & .container {
    border: 3px solid @c-black;
    border-radius: 4px;
    height: 100%;

    &.white {
      background: fade(@c-white, 90%);
      border: 3px solid fade(@c-white, 30%);
    }
  }

  & .top {
    background-color: @c-black;
    color: @c-white;
    padding: 10px;

    &.white {
      background-color: fade(@c-white, 0%);
      color: @c-black;
    }
  }

  & .content {
    background-color: @c-black;
    color: @c-white;
    padding: 10px;

    &.white {
      background-color: fade(@c-white, 0%);
      color: @c-black;
    }
  }

  & pre {
    line-height: 20px;
    margin: 0;
    .mix-fs(12);
    white-space: pre-wrap;

    span {
      display: block;
    }
  }
}
