footer {
  border-top: solid 1px @c-grey-200;
  padding: 10px 0px;

  & .logo {

    & img {
      max-width: 150px;
      width: 100%;
    }
  }

  & .social-items {

    & ul {
      margin: 0px;
      padding: 0px;

      & li {
        display: inline-block;
        list-style: none;
        margin: 0px;
        padding: 0px;

        & a {
          .mix-fs(20);
          padding: 10px;
        }
      }
    }
  }

  &.black {
    background: @c-grey-900;
    color: @c-white;
  }
}
