.login-input {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  border: none;
  border-bottom: gray 1px solid;
  width: 100%;
  height: 2rem;
}
.login-body{
  display: flex;
  flex-wrap: wrap;
}
.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #f2f2f2;
  height: 80vh;
}

.login-card {
  width: 390px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 5% 5% 5% 5%;
  box-shadow: 5px 5px 30px #aaaaaa; 
  margin:5%;
}
.login-header{
  margin-bottom: 20%;
  display: flex;
    justify-content: center;
}
// img {
//   width: 90%;
// }

.login-button{
  color: white;
  width: 100%;
  background: #000000;
  border-radius: 20px;
  border: none;
  padding: 3%;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 10%;
  cursor: pointer;
  border: 1px solid white;
}

.login-button:hover{
  color: black;
  width: 100%;
  background: white;
  border-radius: 20px;
  border: none;
  padding: 3%;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 10%;
  border: 1px solid black;
}

.login-title {
  font-family: 'Menlo', -apple-system, BlinkMacSystemFont, "Segoe UI", "Source Sans Pro", Oxygen, sans-serif;
  margin-top: 3%;
}