::selection {
  background: @c-blue-100;
}


.bg-cover {
  background-position: center;
  background-size: cover;
}

.bg-gradient-white-left {
  position: relative;

  &:before {
    background: linear-gradient(to right, @c-white, fade(@c-white, 100%), fade(@c-white, 95%), fade(@c-white, 60%), transparent);
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;

    @media (max-width: @m-screen-max) {
      background: linear-gradient(to right, @c-white, fade(@c-white, 100%), fade(@c-white, 95%), fade(@c-white, 85%), fade(@c-white, 75%));
    }
  }

  & > div {
    position: relative;
    z-index: 1;
  }
}


.bg-pattern-right {
  background-image: url(/static/img/default/pattern-right.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-pattern-left {
  background-image: url(/static/img/default/pattern-left.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-pattern-bottom-left {
  background-image: url(/static/img/default/pattern-bottom-left.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

// shido-todo: add scontainer--half breakpoints to shido
.scontainer {

  &.scontainer--half {
    @media (max-width: @l-screen-max) {
      max-width: 100%;
    }
  }
}
