.main-menu {
  border-bottom: solid 1px @c-grey-100;

  & .logo {

    & img {
      max-width: 180px;
      width: 100%;
    }
  }

  & nav {

    & ul {
      margin: 0px;
      padding: 0px;

      &  li {
        display: inline-block;
        list-style: none;
        margin: 0px;
        padding: 0px;

        & a {
          color: @c-black;
          display: block;
          padding: 10px;
        }

        &:hover {

          & a {

            & > span {
              .animate-item-write-br;
            }
          }
        }

        &.active {

          & a {
            background: @c-black;
            color: @c-white;

            & > span {
              .animate-item-write-br-white;
            }
          }
        }
      }
    }
  }
}
