.main-menu {
  border-bottom: solid 1px @c-grey-200;

  & .logo {

    & img {
      max-width: 180px;
      width: 100%;
    }
  }

  & nav {

    & ul {
      margin: 0px;
      padding: 0px;

      &  li {
        display: inline-block;
        list-style: none;
        margin: 0px;
        padding: 0px;

        & a {
          border-radius: 50%;
          color: @c-black;
          display: block;
          padding: 10px;
        }

        &:hover,
        &.active {

          & a {

            & > span {
              .animate-item-write-br;
            }
          }
        }
      }
    }
  }
}
