span.cursor {
  .animate-item-write-br;

  &.white {
    .animate-item-write-br-white;
  }
}

h2,
h3 {
  position: relative;

  &:before{
    left: 0px;
    position: absolute;
    top: 0px;
  }
}

h2 {
  padding-left: 40px;

  &:before {
    color: @c-pink;
    content: '/> ';
  }
}

h3 {
  padding-left: 25px;

  &:before {
    color: @c-purple-A400;
    content: '~: ';
  }
}
