cursor {
  .animate-item-write-br;

  &.white {
    .animate-item-write-br-white;
  }
}

h2 {

  &:before {
    content: '/> ';
  }
}

h3 {

  &:before {
    color: @c-cyan-300;
    content: '~:';
  }
}
